[submodule "examples_and_3rdparty/vosk-server"]
	path = examples_and_3rdparty/vosk-server
	url = https://github.com/alphacep/vosk-server
[submodule "examples_and_3rdparty/vosk-api"]
	path = examples_and_3rdparty/vosk-api
	url = https://github.com/alphacep/vosk-api
