.idea/
__pycache__/
components/__pycache__/
components/__pycache__/*
components/sio/__pycache__/*
components/sio/__pycache__/
logs/
venv/
tmp_wav.wav
examples_and_3rdparty/ffmpeg-4.4.1-full_build/
examples_and_3rdparty/vosk-api
examples_and_3rdparty/vosk-server
