<!DOCTYPE HTML>
<html>
<head>
    <title>video test</title>
    <link rel="stylesheet" href="/static/fontawesome-free-5.15.4-web/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.15.4-web/css/brands.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.15.4-web/css/solid.min.css">
        <style>

    body {
        color: #EFEFEF;
        background: #000;
    }

    #canvas {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    
    /*
    audio {
      position: fixed;
      left: 10px;
      bottom: 10px;
      width: calc(100% - 20px);
    }
    */

    .circleBase {
        border-radius: 2%;
        height: 8px !important;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    }

    .type1 {
        width: 100px;
        height: 100px;
        background: yellow;
        border: 3px solid red;
    }
    .type2 {
        width: 50px;
        height: 50px;
        background: #ccc;
        border: 3px solid #000;
    }
    .type3 {
        width: 500px;
        height: 500px;
        background: aqua;
        border: 30px solid blue;
    }

    .type4 {
        width: 50px;
        height: 50px;
        border: 6px solid #373737;
    }

    .offline {
        background: #F00;
    }

    .online {
        background: #0F0;
    }

    #overlay {
        width: 500px;
        height: 30px;
        background: #000;
        color: #ECECEC;
        opacity: 0;
    }

    .pids-wrapper {
        min-height: 500px;
    }

    .pid {
        width: 50px;
        height: 50px;
    }

    #container {
        margin: 0px auto;
        width: 500px;
        height: 375px;
        border: 10px #333 solid;
    }

    </style>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/volume-meter.js"></script>
    <script type="text/javascript" src="/static/jquery.easing.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.min.js"></script>


</head>
<body>
<div id="overlay">Microphone Level show activity.</div>
    <div id="on_offline" class="circleBase type4 offline"></div>
    <canvas style="z-index: -3" id="canvas"></canvas>
<div class="pids-wrapper">
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
  <div class="pid"></div>
</div>
<div id="testDiv"></div>
<!-- <button class="btn btn-default" id="recordBtn">Record Voice</button> -->
    <button id="startRecordingButton">Start recording</button>
    <button id="stopRecordingButton">Stop recording</button>
    <!-- <button id="playButton">Play</button> -->
    <div id="audioContainer">
    </div>
    

<div id="vosk_log" style="overflow: hidden; min-height: 250px;"></div>
<div id="log" style="overflow: hidden; min-height: 250px;"></div>
<style>

@charset "UTF-8";
.player {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 2px;
  padding: 5 16px;
  margin-bottom: 1vh;
}
.player img {
  width: 64px;
  height: 64px;
}
.player .info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 85%;
  max-width: 250x;
  padding: 0 16px;
}
.player .info .name {
  font-size: 15px;
  font-weight: 700;
}
.player .info .singer {
  font-size: 12px;
}
.player .btns {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.player .btns div:nth-child(1) {
  font-size: 30px;
}
.player .btns div:nth-child(2), .player .btns div:nth-child(3) {
  font-size: 18px;
}
.player .progress {
  position: absolute;
  height: 2px;
  left: 0;
  top: 0;
  background-color: #00a8ff;
}



</style>
<script type="text/javascript" charset="utf-8">

    var startRecordingButton = document.getElementById("startRecordingButton");
    var stopRecordingButton = document.getElementById("stopRecordingButton");
  
    var leftchannel = [];
    var rightchannel = [];
    var recorder = null;
    var recordingLength = 0;
    var volume = null;
    var mediaStream = null;
    var sampleRate = 44100;
    var context = null;
    var blob = null;

    // Retrieve AudioContext with all the prefixes of the browsers
    window.AudioContext = window.AudioContext || window.webkitAudioContext;

    // Retrieve getUserMedia API with all the prefixes of the browsers
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

    var fftSize_ = 2048;
    var bufferSize_ = 2048;
    var smoothingTimeConstant_ = 0.8;


    var output_pids_ = true

    
    var socket = io();
    
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    var barHeight;
    var barWidth;
    var time_tmp = 0
    var clicked_record = false;
    var is_recording = false;
    var x = 0;
    var new_message_tmp = ""
    var messages_last_set = "";
    var messages_last_set_index = false;
    var sid_ = null;
    var messages = []
    var audioContext = null;
    var analyser = null;
    var meter = null;
    var rafID = null;
    var mediaStreamSource = null;
    var bufferLength = 0;
    var paused_ = true;
    
    
    var dataArray = null;
    var WIDTH = 0;
    var HEIGHT = 0;
    audioContext = new AudioContext();
    analyser = audioContext.createAnalyser();
    analyser.smoothingTimeConstant = smoothingTimeConstant_;
    analyser.fftSize = fftSize_;

    bufferLength = analyser.frequencyBinCount;
    dataArray = new Uint8Array(bufferLength);
    WIDTH = canvas.width;
    HEIGHT = canvas.height;

    barWidth = (WIDTH / bufferLength) * 1.5;


    function renderFrame() {
      requestAnimationFrame(renderFrame);

      x = 0;

      analyser.getByteFrequencyData(dataArray);

      ctx.fillStyle = "#000";
      ctx.fillRect(0, 0, WIDTH, HEIGHT);

      for (var i = 0; i < bufferLength; i++) {
        barHeight = dataArray[i];

        var r = barHeight + (25 * (i/bufferLength));
        var g = 250 * (i/bufferLength);
        var b = 50;

        ctx.fillStyle = "rgb(" + r + "," + g + "," + b + ")";
        ctx.fillRect(x, HEIGHT - barHeight, barWidth, barHeight);

        x += barWidth + 1;
      }
    }

    renderFrame();


   function get_last_message() {
        if (messages.length > 0) {
            return messages[messages.length-1]
        } else {
            return false;
        }

   }

   function get_last_message_by(index) {
        return typeof(messages[index-1]) !== 'undefined' && messages.length > 0 ? messages[index-1] : false;
   }

    function stopTracks() {
        localStream.getTracks().forEach( (track) => {
            track.stop();
        });
        if( localStream.getVideoTracks().length > 0 ) {
            localStream.getVideoTracks().forEach( (track) => {
                console.log("stop")
                console.log(track)
                track.stop();
            });
        }
    }

    function onMicrophoneDenied() {
        alert('Stream generation failed.');
    }

    function colorPids(vol) {
      let all_pids = $('.pid');
      let amout_of_pids = Math.round(vol/10);
      let elem_range = all_pids.slice(0, amout_of_pids)

      for (var i = 0; i < all_pids.length; i++) {
        all_pids[i].style.backgroundColor="#e6e7e8";
      }
      for (var i = 0; i < elem_range.length; i++) {
        elem_range[i].style.backgroundColor="#69ce2b";
      }
    }

    function output_pids(analyser) {
        var array = new Uint8Array(analyser.frequencyBinCount);
        analyser.getByteFrequencyData(array);
        var values = 0;
        var length = array.length;
        for (var i = 0; i < length; i++) {
            values += (array[i]);
        }
        colorPids(values / length)
    }

    function onMicrophoneGranted(stream) {
        var options = {
            audioBitsPerSecond: 128000,
            mimeType: 'audio/webm'
        }
        context = new AudioContext();
        mediaStream = context.createMediaStreamSource(stream)
        meter = createAudioMeter(context);
        analyser = context.createAnalyser();
        javascriptNode = context.createScriptProcessor(bufferSize_, 1, 1);
        mediaStream.connect(analyser);
        mediaStream.connect(meter);
        analyser.connect(javascriptNode);
        javascriptNode.connect(context.destination);

        javascriptNode.onaudioprocess = function() {
            if(output_pids_) {
                output_pids(analyser)
                
            }
        }

        onLevelChange();
    }

    var ID = function () {
      // Math.random should be unique because of its seeding algorithm.
      // Convert it to base 36 (numbers + letters), and grab the first 9 characters
      // after the decimal.
      return Math.random().toString(36).substr(2, 9);
    };


    function onLevelChange(time) {
        if(meter.volume <= 0.0001) {
            if($("#on_offline").hasClass("online")) {
                $("#on_offline").removeClass("online").addClass("offline");
                $("#overlay").stop().animate({
                "opacity": 0
                }, 150, "", function() {

                    status_ = false
                    socket.emit('audio_event', {"mic_status":0});
                })
            }
        } else {
            if($("#on_offline").hasClass("offline")) {
                $("#on_offline").removeClass("offline").addClass("online")
                $("#overlay").stop().animate({
                "opacity": 1
                }, 750, "", function() {

                    status_ = true
                    socket.emit('audio_event', {"mic_status":1});
                })

            }
        }
        rafID = window.requestAnimationFrame(onLevelChange);
    }



        var ids_ = []
        var last_id = false
         var id_ = null
        var last_false = true
        var startRecordingButton = document.getElementById("startRecordingButton");
        startRecordingButton.addEventListener("click", function () {
        
            $(this).prop("disabled", true)
            $(stopRecordingButton).prop("disabled", false)
            if(last_id != false) {
                console.log("last: "+last_id)
                if(ids_.length >= 5) {
                    $("#audioContainer").find($("div[id^='audio_']"))[0].remove()
                    ids_.pop(0)
                }
            }
            
            navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
            navigator.getUserMedia(
            {
                audio: true
            },
            function (e) {
                window.AudioContext = window.AudioContext || window.webkitAudioContext;
                context = new AudioContext();
                mediaStream = context.createMediaStreamSource(e);

                // https://developer.mozilla.org/en-US/docs/Web/API/AudioContext/createScriptProcessor
                // bufferSize: the onaudioprocess event is called when the buffer is full
                var bufferSize = 2048;
                var numberOfInputChannels = 2;
                var numberOfOutputChannels = 2;
                if (context.createScriptProcessor) {
                    recorder = context.createScriptProcessor(bufferSize, numberOfInputChannels, numberOfOutputChannels);
                } else {
                    recorder = context.createJavaScriptNode(bufferSize, numberOfInputChannels, numberOfOutputChannels);
                }

                recorder.onaudioprocess = function (e) {
                    leftchannel.push(new Float32Array(e.inputBuffer.getChannelData(0)));
                    rightchannel.push(new Float32Array(e.inputBuffer.getChannelData(1)));
                    recordingLength += bufferSize;
                }

                mediaStream.connect(recorder);
                recorder.connect(context.destination);
            },
            function (e) {
                console.error(e);
            });
                
        })
        
        var audios_ = {}
        
        
        
        stopRecordingButton.addEventListener("click", function () {
            $(this).prop("disabled", true)
            $(startRecordingButton).prop("disabled", false)
            if(last_id != false) {
                console.log(last_id)
                console.log($("#audioContainer").find($("audio")).length)
            }
            // stop recording
            recorder.disconnect(context.destination);
            mediaStream.disconnect(recorder);

            // we flat the left and right channels down
            // Float32Array[] => Float32Array
            var leftBuffer = flattenArray(leftchannel, recordingLength);
            var rightBuffer = flattenArray(rightchannel, recordingLength);
            // we interleave both channels together
            // [left[0],right[0],left[1],right[1],...]
            var interleaved = interleave(leftBuffer, rightBuffer);

            // we create our wav file
            var buffer = new ArrayBuffer(44 + interleaved.length * 2);
            var view = new DataView(buffer);

            // RIFF chunk descriptor
            writeUTFBytes(view, 0, 'RIFF');
            view.setUint32(4, 44 + interleaved.length * 2, true);
            writeUTFBytes(view, 8, 'WAVE');
            // FMT sub-chunk
            writeUTFBytes(view, 12, 'fmt ');
            view.setUint32(16, 16, true); // chunkSize
            view.setUint16(20, 1, true); // wFormatTag
            view.setUint16(22, 2, true); // wChannels: stereo (2 channels)
            view.setUint32(24, sampleRate, true); // dwSamplesPerSec
            view.setUint32(28, sampleRate * 4, true); // dwAvgBytesPerSec
            view.setUint16(32, 4, true); // wBlockAlign
            view.setUint16(34, 16, true); // wBitsPerSample
            // data sub-chunk
            writeUTFBytes(view, 36, 'data');
            view.setUint32(40, interleaved.length * 2, true);

            // write the PCM samples
            var index = 44;
            var volume = 1;
            for (var i = 0; i < interleaved.length; i++) {
                view.setInt16(index, interleaved[i] * (0x7FFF * volume), true);
                index += 2;
            }

            // our final blob
            blob = new Blob([view], { type: 'audio/wav' });
            
            
            var audio = document.createElement("audio")
            audio.src = window.URL.createObjectURL(blob);
            
            audio.addEventListener('loadedmetadata', function(){
                var duration = audio.duration;
                $(audio).attr("data-duration", duration)
            },false);
                    
            id_ = ID()
            if($.inArray(id_, ids_) == -1) {
                ids_.push(id_)
            }
            if(id_ != last_id) {
                last_id = id_
            }
            console.log("new: "+id_)
            $(audio).attr('data-id', id_)
            var div_ = document.createElement("div")
            div_.id = "audio"+id_
            $(div_).append(audio)
            
            $.ajax({
                    url: "/static/assets/player.template.html",
                    success: function(data) {
                        var html_ = $.parseHTML(data)
                        
                        $(html_[0]).attr("data-id", id_)
                        var blobURL = window.URL.createObjectURL(blob);
                        var new_html = $(html_).prop("outerHTML")
                        
                        
                        new_html = new_html.replace(/%DOWNLOAD_ID%/gi, blobURL)
                        new_html = new_html.replace(/%ARTIST%/gi, new Date())
                        new_html = new_html.replace(/%TITLE%/gi, id_)
                        $(div_).append(new_html)
                        
                    }
            })
            
            
            $("#audioContainer").append(div_)
            window.setTimeout(function() {
                var blobURL = window.URL.createObjectURL(blob);
                        
                $("html body div#audioContainer div[id='audio"+id_+"'] div.player[data-id='"+id_+"'] div.btns button.downloadButton").on('click', function() {
                    var a = document.createElement("a");
                    document.body.appendChild(a);
                    a.style = "display: none";
                    a.id = "tmp_"+id_
                    a.href = blobURL;
                    a.download = "sample-"+id_+".wav";
                    a.click();
                    $(document.body).remove(a)
                })
                
                $("html body div#audioContainer div[id='audio"+id_+"'] div.player[data-id='"+id_+"'] div.btns div.stop.icon-stop.fas.fa-stop").on('click', function(ev) {
                    var audio = $(this).parent().parent().prev()[0]
                    
                    if(!audio.paused) {
                        $(this).prev().removeClass("fa-pause").addClass("fa-play")
                        audio.pause();
                        paused_ = true;
                    } else {
                        console.log("is paused")
                    }
                
                })
                
                $("html body div#audioContainer div[id='audio"+id_+"'] div.player[data-id='"+id_+"'] div.btns div.play-pause.icon-play.fas.fa-play").on('click', function() {
                    console.log("playing")
                    console.log(paused_)
                    var audio = $(this).parent().parent().prev()[0]
                    if(audio.currentTime == audio.duration) {
                        paused_ = true
                    }
                    if(paused_) {
                        if($(this).hasClass("fa-play")) {
                            console.log($(this).next())
                            console.log($(this).next().next())
                            $(this).removeClass("fa-play").addClass("fa-pause")
                            var url = $(this).parent().find($(".downloadButton")).attr('data-id')
                            audio.src = url
                            audio.addEventListener('loadedmetadata', function(){
                                // Obtain the duration in seconds of the audio file (with milliseconds as well, a float value)
                                var duration = audio.duration;
                            
                                // example 12.3234 seconds
                                console.log("The duration of the song is of: " + duration + " seconds");
                                // Alternatively, just display the integer value with
                                // parseInt(duration)
                                // 12 seconds
                            },false);
                            
                            
                            audio.addEventListener("ended", function() {
                                var el = $("html body div#audioContainer div[id='audio"+id_+"'] div.player[data-id='"+id_+"'] div.btns div.play-pause.icon-play.fas.fa-pause")
                                if(el.length > 0) {
                                    if($(el[0]).attr('class').search("fa-pause") != "-1") {
                                        $(el[0]).removeClass("fa-pause").addClass("fa-play")
                                    }
                                }
                            })
                            audio.play();
                            paused_ = false
                        }
                    } else {
                    
                    
                    
                    
                        if($(this).hasClass("fa-pause")) {
                            $(this).removeClass("fa-pause").addClass("fa-play")
                            audio.pause()
                            paused_ = true
                        }
                        
                    }
                    
                    
                    /*
                    var url = $(this).parent().find($(".downloadButton")).attr('data-id')
                    var audio = new Audio(url);
                    audio.addEventListener('loadedmetadata', function(){
                        // Obtain the duration in seconds of the audio file (with milliseconds as well, a float value)
                        var duration = audio.duration;
                    
                        // example 12.3234 seconds
                        console.log("The duration of the song is of: " + duration + " seconds");
                        // Alternatively, just display the integer value with
                        // parseInt(duration)
                        // 12 seconds
                    },false);
                    // audio.play();
                    if(paused_) {
                        $(this).attr("class", $(this).attr("class").replace("fa-play","fa-pause"))
                        paused_ = false
                        audio.play();
                    } else {
                        $(this).attr("class", $(this).attr("class").replace("fa-play","fa-play"))
                        paused_ = true
                        audio.stop();
                        currentTime = audio.currentTime
                        console.log(currentTime)
                    }
                    */
                })
            },500)
            
            // html body div#audioContainer div#audio7v85rn802 div.player div.btns button.downloadButton
            
            
        });
        
        /*
        
        playButton.addEventListener("click", function () {
            if (blob == null) {
                return;
            }

            var url = window.URL.createObjectURL(blob);
            
            var audio = new Audio(url);
            audio.addEventListener('loadedmetadata', function(){
                // Obtain the duration in seconds of the audio file (with milliseconds as well, a float value)
                var duration = audio.duration;
            
                // example 12.3234 seconds
                console.log("The duration of the song is of: " + duration + " seconds");
                // Alternatively, just display the integer value with
                // parseInt(duration)
                // 12 seconds
            },false);
            audio.play();
        });
        */

        /*
        downloadButton.addEventListener("click", function () {
            if (blob == null) {
                return;
            }

            var url = URL.createObjectURL(blob);

            var a = document.createElement("a");
            document.body.appendChild(a);
            a.style = "display: none";
            a.href = url;
            a.download = "sample.wav";
            a.click();
            window.URL.revokeObjectURL(url);
        });
        */

        function flattenArray(channelBuffer, recordingLength) {
            var result = new Float32Array(recordingLength);
            var offset = 0;
            for (var i = 0; i < channelBuffer.length; i++) {
                var buffer = channelBuffer[i];
                result.set(buffer, offset);
                offset += buffer.length;
            }
            return result;
        }

        function interleave(leftChannel, rightChannel) {
            var length = leftChannel.length + rightChannel.length;
            var result = new Float32Array(length);

            var inputIndex = 0;

            for (var index = 0; index < length;) {
                result[index++] = leftChannel[inputIndex];
                result[index++] = rightChannel[inputIndex];
                inputIndex++;
            }
            return result;
        }

        function writeUTFBytes(view, offset, string) {
            for (var i = 0; i < string.length; i++) {
                view.setUint8(offset + i, string.charCodeAt(i));
            }
        }


    // Ask for an audio input
    navigator.getUserMedia(
        {
            "audio": {
                "mandatory": {
                    "googEchoCancellation": "false",
                    "googAutoGainControl": "false",
                    "googNoiseSuppression": "false",
                    "googHighpassFilter": "false"
                },
                "optional": []
            },
        },
        onMicrophoneGranted,
        onMicrophoneDenied
    )

    $(document).on('mousedown', function(ev) {

        if(ev.target.id == "recordBtn") {
            clicked_record = !clicked_record

        }
    })

    $(document).on('mouseup', function(ev) {
        if(clicked_record == true) {
            if(ev.target.id == "recordBtn") {
                $(ev.target).html("recording...(click to stop)")
                socket.emit('audio_event', {"client":$("#canvas").attr("data-sid"), "data": {"is_recording": true}});
                is_recording = true
            } else {
                console.log("aborting")
                socket.emit('audio_event', {"client":$("#canvas").attr("data-sid"), "data": {"is_recording": false}});
                is_recording = false
            }
        } else {
            if(ev.target.id == "recordBtn") {
                $(ev.target).html("Record Voice")
                socket.emit('audio_event', {"client":$("#canvas").attr("data-sid"), "data": {"is_recording": false}});
                is_recording = false
            }
        }
    })

    $(document).keydown(function(e) {
        switch (e.which) {

            case 27: // esc
                if(e.target.id == "message") {

                    $("#message").val("")
                    messages = []
                }


            break;
            case 37: // left
            break;

            case 38: // up
                if(e.target.id == "message") {
                    if(messages_last_set.length == 0) {
                        messages_last_set = get_last_message()
                    } else {
                        if(messages_last_set != get_last_message()) {
                            messages_last_set = get_last_message()
                            if(messages_last_set_index == false) {
                                messages_last_set_index = messages.length-1
                            }
                        } else {
                            if (messages_last_set_index >= 0) {
                                messages_last_set_index--;
                                if(new_message_tmp.length == 0) {
                                    new_message_tmp = get_last_message_by(messages_last_set_index)
                                } else {
                                    if(get_last_message_by(messages_last_set_index) == new_message_tmp) {
                                        console.log(messages)
                                        console.log(messages.length)

                                    }
                                }
                                if(get_last_message_by(messages_last_set_index) == false) {
                                    messages_last_set_index = messages.length
                                }
                                var new_message = get_last_message_by(messages_last_set_index) != false ? get_last_message_by(messages_last_set_index) : "abc"

                                // console.log(messages_last_set_index)
                                // console.log("len : "+messages.length)
                                // console.log(messages)
                            } else {
                                messages_last_set_index = messages.length

                                if(new_message_tmp.length == 0) {
                                    new_message_tmp = get_last_message_by(messages_last_set_index)
                                } else {
                                    if(get_last_message_by(messages_last_set_index) == new_message_tmp) {
                                        console.log(messages)
                                        console.log(messages.length)

                                    }
                                }
                                if(get_last_message_by(messages_last_set_index) == false) {
                                    messages_last_set_index = messages.length
                                }
                                var new_message = get_last_message_by(messages_last_set_index) != false ? get_last_message_by(messages_last_set_index) : "abc"
                            }

                        }



                    }
                    if(typeof(new_message) !== 'undefined') {
                        $("#message").val(new_message)
                    } else {
                        $("#message").val(get_last_message() != false ? get_last_message() : "")
                    }

                }
                break;

            case 39: // right
                break;

            case 40: // down
                if(e.target.id == "message") {
                    if(messages_last_set.length == 0) {
                        messages_last_set = get_last_message()
                    } else {
                        if(messages_last_set != get_last_message()) {
                            messages_last_set = get_last_message()
                            if(messages_last_set_index == false) {
                                messages_last_set_index = messages.length-1
                            }
                        } else {
                            if (messages_last_set_index >= 0) {
                                messages_last_set_index++;
                                if(new_message_tmp.length == 0) {
                                    new_message_tmp = get_last_message_by(messages_last_set_index)
                                }
                                if(get_last_message_by(messages_last_set_index) == false) {
                                    messages_last_set_index = 0
                                }
                                var new_message = get_last_message_by(messages_last_set_index) != false ? get_last_message_by(messages_last_set_index) : "abc"
                            } else {
                                messages_last_set_index = messages.length

                                if(new_message_tmp.length == 0) {
                                    new_message_tmp = get_last_message_by(messages_last_set_index)
                                }
                                if(get_last_message_by(messages_last_set_index) == false) {
                                    messages_last_set_index = 0
                                }
                                var new_message = get_last_message_by(messages_last_set_index) != false ? get_last_message_by(messages_last_set_index) : "abc"
                            }

                        }



                    }
                    if(typeof(new_message) !== 'undefined') {
                        $("#message").val(new_message)
                    } else {
                        $("#message").val(get_last_message() != false ? get_last_message() : "")
                    }

                }
                break;

            default:
                return; // exit this handler for other keys
        }
        e.preventDefault(); // prevent the default action (scroll / move caret)
    })



    </script>
    <script src="/static/socket.functions.js"></script>
</body>
</html>
